.offer__bg{
  background-image: url(../../i/offer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
// ../../i/offer-bg.png
//center no-repeat / cover

.blue__bg{
  background-color: #00a3ef;
}

h2{
  font-size:36px;
  margin: 0;
}

.container{
  max-width: 1572px;
  margin: 0 auto;
}

footer{
  background: #000;
}

@media screen and (min-height: 1024px){
  .offer__bg{
    height: 1024px;
  }
}

@media screen and (max-width: 1572px){
  .container{
    max-width: 1170px;
  }
}

@media screen and (max-width: 1170px){
  .container{
    max-width: 992px;
  }
}
@media screen and (max-width: 992px){
  .container{
    max-width: 750px;
  }
}