table{
    width: 100%;
    border-collapse: collapse;
    transition: all 1s ease;
    margin-bottom:100px;
    table-layout: fixed;
    th{
        background-color: #f3f4f8;
        padding:15px;
        font-size:18px;
    }
    td{
        padding:10px;
        word-wrap:break-word
    }
    tr{
        padding: 10px;
    }
    .skeleton{
        width: 100%;
    }
}
@media screen and (max-width:650px){
    table{
        font-size:14px;
        th{
            font-size:14px;
        }
    }
}