
  // ../../i/offer-bg.png
  //center no-repeat / cover
  
  .blue__bg{
    background-color: #00a3ef;
  }

  .black__bg{
      background-color: #000;
  }
  
  h2{
    font-size:36px;
    margin: 0;
  }
  
  footer{
    background: #000;
  }
  
  